* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  /* width: 95%; */
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 35px;
  margin: 17px 22px;
}

.navbar img {
  height: 55px;
  width: 140px;
}

.nav-list li:hover {
  cursor: pointer;
}

.nav-list ul {
  margin-right: 500px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-list li {
  padding: 5px 20px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 55px;
}

.heading {
  font-size: 50px;
}

.text {
  font-size: 20px;
}

.btn {
  color: #ffffff;
  background-color: #6a36be;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
  color: #6a36be;
  border: 2px solid #6a36be;
  background-color: #ffffff;
}

.nav-btn {
  padding: 10px 20px;
}
.main-btn {
  padding: 10px 30px;
}
